<div class="col-md-6">
      <div class="card p-4 shadow-sm">
        <h4 class="text-success mb-3">Reset Password</h4>
        <form method="post" action="{% url 'reset_password' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="old_password" class="form-label fw-bold">Old Password</label>
            <input type="password" class="form-control rounded-3" id="old_password" name="old_password" minlength="6" required>
          </div>

          <div class="mb-3">
            <label for="new_password1" class="form-label fw-bold">New Password</label>
            <input type="password" class="form-control rounded-3" id="new_password1" name="new_password1" minlength="6" required>
          </div>

          <div class="mb-3">
            <label for="new_password2" class="form-label fw-bold">Confirm New Password</label>
            <input type="password" class="form-control rounded-3" id="new_password2" name="new_password2" minlength="6" required>
          </div>

          <button type="submit" class="btn btn-custom w-100 rounded-3">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>