{% if construction_exists %}
<tr style="background-color: #99e1e0ff">
        <td>Total construction</td>
        <td></td>
        <td>{{ totals_construction.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_construction.total|floatformat:0 }}</td>
        <td></td>
        
      </tr>
      {% endif %}