{% if electricity_exists %}
<tr style="background-color: #e1e099ff">
        <td>Total Electricity</td>
        <td></td>
        <td>{{ totals_electricity.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_electricity.total }}</td>
        <td></td>
        
      </tr>

{% endif %}