{% if totals2_exists %}
<tr style="background-color: #c499e1ff">
    <td>Total Expenditures</td>
    <td></td>
    <td>{{ totals2.total_jul_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_jul_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_aug_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_aug_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_sep_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_sep_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_oct_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_oct_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_nov_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_nov_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_dec_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_dec_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_jan_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_jan_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_feb_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_feb_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_mar_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_mar_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_apr_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_apr_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_may_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_may_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total_jun_1_a|floatformat:0 }}</td>
    <td>{{ totals2.total_jun_2_a|floatformat:0 }}</td>
    <td>{{ totals2.total }}</td>
    <td></td>
    
</tr>

{% endif %}