{% if fertilizer_exists %}
<tr style="background-color: #dca4e7ff">
        <td>Total Fertilizer</td>
        <td></td>
        <td>{{ totals_fertilizer.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_fertilizer.total|floatformat:0 }}</td>
        <td></td>
        
      </tr>
      {% endif %}