{% if net_income_exists %}
<tr style="background-color: #6ab2e5ff">
    <td>Net Income</td>
    <td></td>
    <td>{{ net_income.total_jul_1_a }}</td>
    <td>{{ net_income.total_jul_2_a }}</td>
    <td>{{ net_income.total_aug_1_a }}</td>
    <td>{{ net_income.total_aug_2_a }}</td>
    <td>{{ net_income.total_sep_1_a }}</td>
    <td>{{ net_income.total_sep_2_a }}</td>
    <td>{{ net_income.total_oct_1_a }}</td>
    <td>{{ net_income.total_oct_2_a }}</td>
    <td>{{ net_income.total_nov_1_a }}</td>
    <td>{{ net_income.total_nov_2_a }}</td>
    <td>{{ net_income.total_dec_1_a }}</td>
    <td>{{ net_income.total_dec_2_a }}</td>
    <td>{{ net_income.total_jan_1_a }}</td>
    <td>{{ net_income.total_jan_2_a }}</td>
    <td>{{ net_income.total_feb_1_a }}</td>
    <td>{{ net_income.total_feb_2_a }}</td>
    <td>{{ net_income.total_mar_1_a }}</td>
    <td>{{ net_income.total_mar_2_a }}</td>
    <td>{{ net_income.total_apr_1_a }}</td>
    <td>{{ net_income.total_apr_2_a }}</td>
    <td>{{ net_income.total_may_1_a }}</td>
    <td>{{ net_income.total_may_2_a }}</td>
    <td>{{ net_income.total_jun_1_a }}</td>
    <td>{{ net_income.total_jun_2_a }}</td>
    <td>{{ net_income.total }}</td>
    <td></td>
    
</tr>

{% endif %}