{% if spray_exists %}
<tr style="background-color: #99b0e1ff">
        <td>Total Spray</td>
        <td></td>
        <td>{{ totals_spray.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_spray.total|floatformat:0 }}</td>
        <td></td>
        
      </tr>
      {% endif %}