{% if tractor_exists %}
<tr style="background-color: #e1ce99ff">
        <td>Total Tractor</td>
        <td></td>
        <td>{{ totals_tractor.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_tractor.total|floatformat:0 }}</td>
        <td></td>
        
      </tr>
      
      
      {% endif %}