{% if tubewel_exists %}
<tr style="background-color: #e199bbff">
        <td>Total Tubewel</td>
        <td></td>
        <td>{{ totals_tubewel.total_jul_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_jul_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_aug_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_aug_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_sep_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_sep_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_oct_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_oct_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_nov_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_nov_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_dec_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_dec_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_jan_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_jan_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_feb_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_feb_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_mar_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_mar_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_apr_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_apr_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_may_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_may_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_jun_1_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total_jun_2_a|floatformat:0 }}</td>
      <td>{{ totals_tubewel.total|floatformat:0 }}</td>
        <td></td>
        
      </tr>
{% endif %}